body {
	background-image: url(../images/background.jpg);
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Indie Flower', cursive;


}

.head {
	margin: auto;
	padding: 30px;
	text-align: center;
	font-size: 50px;
	color: #dfb4f5;
	text-shadow: 2px 3px #ddf0fb;
}

.instructions {
	margin: auto;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	background-color: #dfb4f5;
	color: #ffffff;
	border: 2px solid white;
	border-radius: 25px;
	width: 80%;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
}

.game {
	margin: auto;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	background-color: #dfb4f5;
	color: #ffffff;
	border: 2px solid white;
	border-radius: 25px;
	width: 80%;
	margin-bottom: 10px;
}

.play {
	padding: 10px;
	margin: 10px;
}

.footer {
	background: #dfb4f5;
	margin: auto;
	padding: 10px;
	text-align: center;
	color: #ffffff;
	position: relative;
	bottom: 1px;
}

